<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link 
        rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous" 
    />

  <!-- Custom styles for this template -->
  <link href="../css/blog-post.css" rel="stylesheet">

</head>

<body>

  <!-- Page Content -->
  <div class="container">
    <%- include ("header.ejs"); -%>
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">Diet App</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="#">610610567 , 610610570 , 610610700</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on 9/4/2020 at 12:00 PM</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="https://images.wowcher.co.uk/images/deal/2012991/777x520/207735.jpg" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">Here is the web apllication that help you manage your diet information.</p>

        <p>This App is made by 610610567 กรวิชญ์ บัวคำปัน, 610610570 กิติพงศ์ ไมล์หรือ, 610610700 เปี่ยมพงค์ ปั้นรูป</p>
        <p> If you have any question please contact to this link below</p>
        <p><a href="https://www.facebook.com/Goravit.buakampan">กรวิชญ์ บัวคำปัน</a></p>
        <p><a href="https://www.facebook.com/tom.jaja.5">เปี่ยมพงค์ ปั้นรูป</a></p>
        <p><a href="https://www.facebook.com/Toon.kittipong">กิติพงศ์ ไมล์หรือ</a></p>
        <hr>
    <!-- /.row -->

  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
